body{
  margin: 0;
  padding: 0;
  position: relative;
}
.grid-container {
  display: flex;
  flex-direction: column;
  width: 50vw;
  height: 50vh;
  margin: 100px auto;
}

.grid-row {
  display: flex;
  gap: 5px;
}

.grid-cell {
  width: 100px;
  height: 50px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;
  margin-bottom: 5px;
}
.selected{
  background-color: blue;
}
button{
  margin-bottom: 5px;
}
input{
  padding: 8px 12px;
  width: 250px;
  border-radius: 8px;
  margin-right: 20px;
}
.input{
  position: absolute;
  left: 50%;
  transform: translate(-50%,-50%);
}
.App{
  width: 50vw;
  margin: 40px auto;
}
h1{
  text-align: center;
}
